body {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    align-content: center;
    font-family: Arial;
    background: #E3E4E4;
    min-height: calc( 100vh - 200px);
    margin: 0;
    padding: 100px 0;
}
h1 {
    margin-top: 0;
}
a {text-decoration: none;}

#files {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#files li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f9f9f9;
    margin: 5px;
    padding: 5px;
    padding-right: 10px;
    border-radius: 5px;
}
.headbar {
    background: none !important;
    padding: 0 10px 0 5px !important;
}

#files label, #files input {
    margin-right: 10px;
    cursor: pointer;
}
#files label {
    height: 100%;
    
}


button.downAll, button.downFile, a.downAll, a.downFile {
    position: relative;
    border: none;
    background: #4466d6;
    color: #eee;
    border-radius: 5px;
    padding: 7px 10px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 12px;
    outline: none;
    user-select: none;
}



button.downAll:hover, button.downFile:hover, a.downAll:hover, a.downFile:hover {
    background: #2f4fb6;
    color: #ddd;
}

button.loading, a.loading {
    color: transparent !important;
    background: #2442a7 !important;
}
button.loading::after, a.loading::after {
    content: '';
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    color: #eee;
    height: 10px;
    width: 10px;
    border: 1px solid #eee;
    border-top: none;
    border-left: none;
    border-radius: 10px;
    animation: rotate 1s infinite linear;
}

button.error, a.error {
    color: transparent !important;
    background: #b62520 !important;
}
button.error::after, a.error::after {
    content: 'Erreur';
    position: absolute;
    top: 50%;
    left: 50%;
    color: #eee;
    transform: translate(-50%, -50%);    
}

button.success, a.success {
    color: transparent !important;
    background: #3dad33 !important;
}
button.success::after, a.success::after {
    content: 'Téléchargé';
    position: absolute;
    top: 50%;
    left: 50%;
    color: #eee;
    transform: translate(-50%, -50%);    
}



@keyframes rotate {
    from {
        transform: none;
    }
    to {
        transform: rotateZ(360deg);
    }
}